form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body{
    background-color: white;
    box-sizing: border-box;
    color: black;
}

.div-3{
    display: flex;
    gap: 10px;
    justify-content: center;
    div{
        background-color: rgb(211, 208, 208);
        padding: 10px;
        border-radius: 10px;
        width: 100px;
    }
}