@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: rgb(241, 256, 256);
    
}

form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 20px;
    box-shadow: -0.02pt 1pt 2pt 2pt rgb(218, 218, 218);
    background-color: white;
}

@media (min-width: 400px) {
    form {
        width: 85%;
    }
    .text-foter h5 {
        margin-bottom: 10px;
    }
    .og-div-logos {
        gap: 13px;
    }
}

@media (min-width: 650px) {
    form {
        width: 60%;
    }
    .text-foter h5 {
        font-size: 15px;
        margin-bottom: 14px;
    }
    .og-div-logos {
        gap: 13px;
    }
}

@media (min-width: 700px) {
    form {
        width: 50%;
    }
    .text-foter h5 {
        font-size: 16px;
        margin-bottom: 14px;
    }
    .og-div-logos {
        gap: 13px;
    }
}

@media (min-width: 900px) {
    form {
        width: 40%;
    }
    .og-div-logos {
        gap: 13px;
    }
}

@media (min-width: 1050px) {
    form {
        width: 35%;
    }
    .og-div-logos {
        gap: 13px;
    }
}

@media (min-width: 1180px) {
    form {
        width: 35%;
    }
    .og-div-logos {
        gap: 13px;
    }
}

@media (min-width: 1320px) {
    form {
        width: 25%;
    }
    .og-div-logos {
        gap: 13px;
    }
}

.img-world {
    margin-top: 8%;
    text-align: center;
    img {
        box-shadow: 0pt 0.3pt 0pt 0.3pt rgb(200, 200, 200);
        border-radius: 30%;
        width: 14%;
        height: 14%;
        cursor: pointer;
    }
}

.text-welcome {
    font-family: poppins;
    text-align: center;
    h3 {
        font-weight: 300;
        margin-top: -20px;
    }
}

.text-or {
    font-size: 22px;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.og-div-logos {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 6%;
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1pt solid rgb(185, 185, 185);
        border-radius: 6px;
        cursor: pointer;
        padding: 3%;
        background-color: rgb(242, 250, 250);
        font-size: 70%;
        transition: 0.3s;
        width: 100%;
        height: 110%;
    }
    div:hover {
        border-bottom: 1pt solid rgb(140, 140, 140);
        background-color: rgb(237, 250, 250);
    }
    img {
        width: 25%;
        height: 65%;
    }
}

.email-input {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    input {
        padding: 7px;
        border-radius: 8px;
        border: 1pt solid gray;
        box-shadow: 1.5pt 2pt 5pt 0.5pt rgb(175, 175, 175);
        font-size: 17px;
        border-top: 1pt solid rgb(187, 187, 187);
        border-left: 1pt solid rgb(187, 187, 187);
        margin-top: 1%;
        margin-left: -1%;
        outline: none;
    }
    label {
        font-size: 130%;
    }
}

.password-input {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    input {
        padding: 6.9px;
        border-radius: 8px;
        border: 1pt solid gray;
        box-shadow: 1.5pt 2pt 5pt 0.5pt rgb(175, 175, 175);
        font-size: 17px;
        border-top: 1pt solid rgb(187, 187, 187);
        border-left: 1pt solid rgb(187, 187, 187);
        margin-top: 1%;
        margin-left: -1%;
        outline: none;
    }
    label {
        font-size: 130%;
    }
}

.button-login {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 8%;
    width: 100.6%;
    margin-left: -0.8%;
    button {
        padding: 2.5%;
        width: 100%;
        border-radius: 10px;
        outline: none;
        cursor: pointer;
        font-size: 105%;
        background: linear-gradient(#7456eb94,#7456ebb2,#7456ebd0,#7a5ee7);
        border: none;
        box-shadow: 0pt 1pt 1pt 1pt #644cc4;
    }
    button:hover {
        background: transparent;
        color:#8606ee;
        box-shadow: 0pt none 1pt 1pt #8606ee;
    }
}

.text-foter {
    display: flex;
    flex-direction: row;
    justify-content: center;
}