@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 20px;
    border: 1px solid rgb(199, 199, 199);
    box-shadow: 0px 0.1px 2px 1.2px rgba(32, 32, 32, 0.356);
}

body {
    background-color: white;
    box-sizing: border-box;
    color: black;
    font-family: "poppins";
}

.div-3 {
    display: flex;
    margin-top: -15px;
    gap: 10px;
    justify-content: center;

    div {
        background-color: rgb(245, 245, 245);
        border-bottom: 1pt solid rgb(187, 187, 187);
        padding: 10px;
        border-radius: 2px;
        width: 100px;
        display: flex;
        justify-content: center;
        cursor: pointer;
    }
    img{
        width: 25%;
        height: 100%;
    }
}

.password-inputs {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    input {
        padding: 8px;
        border-radius: 10px;
        outline: none;
        border: 1pt solid rgb(226, 226, 226);
        box-shadow: 1px 2px 5px 1px gray;
        margin-top: 5px;
        font-size: 15px;
    }
    label{
        font-weight: bolder;
        font-size: 14px;
    }
}

.email-inputs {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    input {
        margin-top: 5px;
        padding: 8px;
        border-radius: 10px;
        outline: none;
        border: 1pt solid rgb(226, 226, 226);
        box-shadow: 1px 2px 5px 1px gray;
        font-size: 15px;
    }
    label{
        font-weight: bolder;
        font-size: 14px;
    }
}

button {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(#7456eba1,#7456ebcb,#7456EB);
    color: white;
    border: none;
    transition: 0.5s;
    cursor: pointer;
    border: 1px solid transparent;
}

button:hover{
    background: transparent;
    border: 1px solid #7456EB;
    color: #7456EB;
}
.title{
    text-align: center;
    h2{
        margin-top: 20px;
        font-weight: 500;
    }
    h4{
        font-weight: 300;
        margin-top: -20px;
    }
}
.div-logo-world{
    width: 40px;
    margin-left: 170px;
    margin-top: 40px;
    border-radius: 12px;
    border-bottom: 1pt solid rgb(200, 200, 200);
    border-left: 1pt solid rgb(225, 225, 225);
    border-right: 1pt solid rgb(225, 225, 225);
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1.5px 3px 0.2px rgb(230, 230, 230);
    img{
        width: 100%;
        display: flex;
        border-radius: 20px;
    }
}